.venv/
.vscode/
__pycache__/
stoilo.egg-info/

/boinc/

/workers/apps/raboshka_*/*/*/raboshka_*_*_*

/python_lib/examples/*
!/python_lib/examples/*.ipynb
/python_lib/examples/_*.ipynb

.trash/

# LaTeX intermediate files
/text/*.aux
/text/*.lof
/text/*.log
/text/*.lot
/text/*.fls
/text/*.out
/text/*.toc
/text/*.fmt
/text/*.fot
/text/*.cb
/text/*.cb2
/text/*.bbl
/text/*.bcf
/text/*.blg
/text/*.run.xml
/text/*.fdb_latexmk
/text/*.synctex.gz
/text/*.xdv
